@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Title</h2>
<div class="list_posts">
    @foreach (ProjectSwapp.Models.SwappPosts item in ViewBag.item)
    {
        <article class="list_post">
            <div class="list_image_container">
                <output lang="" data-images="" class="list_image">
                    @Html.Raw("<img class='img' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.ImageData) + "\" />")
                </output>
            </div>
            <div class="list_info_container">
                <div style="float:right">
                    @using (Html.BeginForm("Request", "Manage", FormMethod.Post))
                    {
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="submit" value="Reguest" class="btn btn-danger" style="width:75px" />
                    }
                </div>
                <output class="list_title">@item.Name</output>
                <output class="list_data_description">Description: @item.Description</output> <br />
                <time class="list_data_other">Time create: @item.DateCreatePost</time> <br />

                <output class="list_data_other">Address: @item.Address</output>
                </div>
        </article>
    }
</div>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")