@model ProjectSwapp.Models.RegisterPostViewModel
@{
    ViewBag.Title = "Create post";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("CreatePost", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="form_section">
        <label class="form_section form_tag">Photography</label>
            <ul class="ai_image__list" id="sortable" rotation="0">
                <li class="ai_image__upload" id="image-0" onclick="$('#imageupload').click();"></li>
                <li class="ai_image__upload" id="image-1" onclick="$('#imageupload').click();"></li>
                <li class="ai_image__upload" id="image-2" onclick="$('#imageupload').click();"></li>
                <li class="ai_image__upload" id="image-3" onclick="$('#imageupload').click();"></li>
            </ul>
        <input type="file" name="files[]" accept=".jpg,.jpeg,.gif,.png,.bmp" multiple="" id="imageupload">
        <div class="form_info">Max count photographies 4</div>
    </div>
    <br />
    <div class="form_section">
        <label class="form_section form_tag">Name product or service</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form_controlinput", @placeholder = "for example phone HTC" })
    </div>
    <br />
    <div class="form_section">
        <label class="form_section form_tag">Category</label>
        @Html.DropDownListFor(m => m.Category, ViewBag.Category as SelectList, new { @class = "form_control form_controlinput", @id = "category" })
        <br />
        @Html.DropDownListFor(m => m.Subcategory, ViewBag.Subcategory as SelectList, new { @class = "form_control form_controlinput", @id = "subcategory" })
        <br />
        <label class="form_section form_tag">Region</label>
        @Html.DropDownListFor(m => m.Region, ViewBag.Region as SelectList, new { @class = "form_control form_controlinput", @id = "region" })
        <br />
        @Html.DropDownListFor(m => m.City, ViewBag.City as SelectList, new { @class = "form_control form_controlinput", @id = "city" })
        <label class="form_section form_tag">Descriptions</label>
        @Html.TextAreaFor(m => m.Description, new { @class = "form_control form_controlinputarea", @placeholder = "The description must contain at least 5 and no more 200 characters ", @maxlength = "200", @rows = "3" })
        <br />
        <div class="btn-group" style=" margin-left:20px; width:100%" data-toggle="buttons">
            <label class="btn btn-default active " style=" width:50%">
                <input type="radio" name="Status" id="Status" autocomplete="off" checked value="Swap"> Swap
            </label>
            <label class="btn btn-default" style=" width:50%">
                <input type="radio" name="Status" id="Status" autocomplete="off" value="Rent">Rent
            </label>
        </div>
        <label class="form_section form_tag">Date</label>
        <input type="date" class="form_control form_controlinputarea" name="Date" value="">
    </div>
    <br />
    <div class="form_section">
        <input type="submit" value="Save" class="btn btn-default form_control form_controlinputarea" style="font-size:17px" />
    </div>
}
@section scripts{
    <script type="text/javascript">
    $(function () {
        $('#region').change(function(){
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItems")/' + id,
                success: function (data) {
                    $('#city').replaceWith(data);
                }
            });
        });
    })
    </script>
    <script type="text/javascript">
    $(function () {
        $('#category').change(function(){
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItemsCategory")/' + id,
                success: function (data) {
                    $('#subcategory').replaceWith(data);
                }
            });
        });
    })
    </script>
    <script>
        function removeImg(elem) {
            var itemLi = elem.id;
            alert(itemLi);
            $('.ai_image__item img', '#itemLi').remove();
        var li = document.createElement('li');
        li.innerHTML = ['<li class="ai_image__upload" id="'+ elem.id +'" onclick="$(\'#imageupload\').click();"></li>'].join('');
        document.getElementById('sortable').insertBefore(li, null);
    }

    function handleFileSelect(evt) {
        var index = $('.ai_image__item img').length;
        var files = evt.target.files;
        for (var i = 0, f; f = files[i]; i++) {
            if (!f.type.match('image.*')) {
                continue;
            }
            var reader = new FileReader();
            reader.onload = (function (theFile) {
                return function (e) {
                    var span = document.createElement('span');
                    span.innerHTML = ['<img class="thumb" src="', e.target.result,
                        '" title="', escape(theFile.name), '"/><b  class="ai_image__delete" id="image-'+index+'" onclick="removeImg(this);"></b>'].join('');
                    document.getElementById('image-' + index).insertBefore(span, null);

                };
            })(f);
            reader.readAsDataURL(f);
            document.getElementById("image-" + index).className = 'ai_image__item img';
            document.getElementById("image-" + index).onclick = "none";
        }
    }
    document.getElementById('imageupload').addEventListener('change', handleFileSelect, false);
    </script>
}


