<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@{
    ViewBag.Title = "Posts";
}
<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="list_posts">
    @{
        var count = 0;
    }
    @foreach (ProjectSwapp.Models.SwappPosts item in ViewBag.item)
    {
        count = count + 1;
        

        <article class="list_post">
            <div class="list_image_container">
                <output lang="" data-images="" class="list_image">
                    @Html.Raw("<img class='img' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.ImageData) + "\" />")
                </output>
            </div>
            <div class="list_info_container">
                <div style="float:right">
                    @using (Html.BeginForm("Delete", "Manage", FormMethod.Post))
                    {
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" style="width:75px" />
                    }
                        <input type="hidden" name="Id" value="@item.Id" />
                    @Html.ActionLink("Change", "Change", new { id = @item.Id }, new { @class = "compItem btn btn-default", @style = "width:75px" })
                </div>
                <output class="list_title">@item.Name</output>
                <output class="list_data_description">Description: @item.Description</output> <br />
                <time class="list_data_other">Time create: @item.DateCreatePost</time> <br />

                <output class="list_data_other">Category: @ViewBag.itemCategory[count - 1].Name </output> <br />
                <output class="list_data_other">Address: @item.Address</output>
                <div style="float:right">
                    <output class="list_data_description">Points: @ViewBag.itemCategory[count - 1].Points</output>
                </div>
            </div>
        </article>
    }
</div>
@section scripts{


<script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
</script>
}