@{
    ViewBag.Title = "Posts";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<hr />
<div class="row">
    <div class="col-sm-2 btn-group-vertical">
        <a class="btn btn-default" href="Published" role="button">Post</a>
        <a class="btn btn-default" href="Addpublished" role="button">Add post</a>
        <a class="btn btn-default" href="Requestpublished" role="button">Settings</a>
    </div>
    <div class="col-lg-9">
        @foreach (ProjectSwapp.Models.ApplicationPost item in ViewBag.item)
            {
            <div class="col-lg-12 row">
                <div class="col-lg-3">
                    @Html.Raw("<img class='img-thumbnail' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.ImageData) + "\" />")
                </div>
                <div class="col-lg-4">
                    @Html.Label("Status:", new { @class = "control-label" })
                    @Html.DisplayFor(model => item.Status, new { @class = "form-control" })
                    <br />
                    @Html.Label("Name:", new { @class = "control-label" })
                    @Html.DisplayFor(model => item.Name, new { @class = "form-control" })
                    <br />
                    @Html.Label("Description:", new { @class = "control-label" })
                    <br />
                    @Html.DisplayFor(model => item.Description, new { @class = "form-control", @maxlength = "200", @style = "max-width:inherit", @rows = "5" })
                </div>
                <div class="col-lg-3">
                    @Html.Label("Address:", new { @class = "control-label" })
                    @Html.DisplayFor(model => item.Address, new { @class = "form-control" })
                    <br />
                    @*@Html.Label("Date:", new { @class = "control-label" })
                    @Html.DisplayFor(model => item.Date.Date, new { @class = "form-control" })
                    <br />*@
                    @*@Html.Label("Points:", new { @class = "control-label" })
                    @Html.DisplayFor(model => item.Points, new { @class = "form-control" })*@
                </div>
                <div class="col-lg-2">
                    @using (Html.BeginForm("Delete", "Manage", FormMethod.Post))
                    {
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="submit" value="Delete" class="btn btn-default form-control" />
                    }
                </div>
            </div>
            <br />
            }
    </div>
</div>




 
           




@*<a href="#myModal" class="btn btn-default" data-toggle="modal">Change</a>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Change post</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12 row">
                            <div class="col-lg-3">
                                @Html.Raw("<img class='img-thumbnail' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.ImageData) + "\" />")
                            </div>
                            <div class="col-lg-4">
                                @Html.Label("Status:", new { @class = "control-label" })
                                @Html.DisplayFor(model => item.Status, new { @class = "form-control" })
                                <br />
                                @Html.Label("Name:", new { @class = "control-label" })
                                @Html.DisplayFor(model => item.Name, new { @class = "form-control" })
                                <br />
                                @Html.Label("Description:", new { @class = "control-label" })
                                <br />
                                @Html.DisplayFor(model => item.Description, new { @class = "form-control", @maxlength = "200", @style = "max-width:inherit", @rows = "5" })
                            </div>
                            <div class="col-lg-3">
                                @Html.Label("Address:", new { @class = "control-label" })
                                @Html.DisplayFor(model => item.AddressPost.City, new { @class = "form-control" })
                                <br />
                                @Html.Label("Date:", new { @class = "control-label" })
                                @Html.DisplayFor(model => item.Date.Date, new { @class = "form-control" })
                                <br />
                                @Html.Label("Points:", new { @class = "control-label" })
                                @Html.DisplayFor(model => item.Points, new { @class = "form-control" })
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
                        <button type="button" value="Change" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </div>
        </div>
    </div>*@